style.
	canvas {
		display:none;
		background-image: url('quidditch/images/Field.png');
		color: white;
		width: 1280;
		height: 720;
	}

	.wintext strong {
		font-size: 40px;
	}

div(class='quidditch' id=name)

script(src='quidditch/js/quidditch-client.js')
