doctype html
html(lang="en")
	head
		script(src='/js/jquery-3.2.1.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/overlays.js')
		link(rel='stylesheet' href='/css/style.css')
	body(bgcolor=transparent)
		div.sortinghat
			center
				img#house_logo(width='400' height='600')
				br
				strong
					span#username
					| 
					| is a proud member of house 
					span#house_text
					| 
					|!

			audio#player
				source#house_audio
