doctype html
html(lang="en")
	head
		script(src='/js/jquery-3.2.1.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/overlays.js')
		link(rel='stylesheet' href='/css/style.css')
	body(bgcolor=transparent)
		button#clickme
		div.sortinghat
			center
				img(src=house_image)#house_logo
				br
				strong
					span#username
						| 
					|
					| is a proud member of house 
					span#house_text
						| 
					|!

			audio#player
				source#house_audio
