doctype html
html(lang="en")
	head
		script(src='/socket.io/socket.io.js')
	body(bgcolor=transparent)
		#soundboard
	
		// Load react client-side app
		script(src='/soundboard/js/bundle.js')
		style(src='/soundboard/css/soundboard.css' type='text/css')
