doctype html
html(lang="en")
	head
		script(src='/socket.io/socket.io.js')
		link(href='/music/css/min.css' rel='stylesheet' type='text/css')
		title HPC.Jukebox
	body
		#music
	
		// Load react client-side app
		script(src='/music/js/bundle.js')
