doctype html
html(lang="en")
	head
		script(src='/js/jquery-3.2.1.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/music-client.js')
		link(href='/css/music.css' rel='stylesheet' type='text/css')
	body(bgcolor=transparent)
		strong Now Playing:
		h2#title
		p#time Time:
		#progress
		.controls
			#play ▶
			#next >|
		ul.queue
			#first 1
			#second 2
		#player
