link(rel='stylesheet' href='/house/css/style.css')

div(class='house' id=name)
	center
		img#house_image(width='400' height='600')
		br
		strong
			span#username
			|
			| is a proud member of house
			span#house_text
			|
			|!

	audio#house_audio_player
		source#house_audio
