doctype html
html(lang="en")
	head
		script(src='/js/jquery-3.2.1.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/soundboard.js')
		link(href='/css/soundboard.css' rel='stylesheet' type='text/css')
	body(bgcolor=transparent)
		fieldset.border
			legend.title Overlays
			button#cheese Cheese Fight
			button#gift Gift
			button#hpcwins HPC Wins
			button#muggle Muggle?
			button#powermove PowerMove
			button#sac Sacrifice
			button#smoke Smoke Gank
			button#tworax Two Rax

		fieldset.border
			legend.title Sponsors
			button#kia Kia
			button#monster Monster
