doctype html
html(lang="en")
	head
		script(src='/js/jquery-3.2.1.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/soundboard.js')
		link(href='/css/soundboard.css' rel='stylesheet' type='text/css')
	body(bgcolor=transparent)
		fieldset.border
			legend.title Overlays
			button#housetest !House Test
			button#buyback Buyback
			button#cheese Cheese Fight
			button#first First Blood
			button#gift Gift
			button#hpcwins HPC Wins
			button#muggle Muggle?
			button#powermove Power Move
			button#sac Sacrifice
			button#smoke Smoke Gank
			button#tworax Two Rax
		fieldset.border
			legend.title Xmas
			button#xmas Naughty or Nice
		fieldset.border
			legend.title Quidditch
			button#quidditch Start!
		fieldset.border
			legend.title Sponsors
			button#kia Kia
			button#monster Monster
			button#polo Polo	
		fieldset.border
			legend.title Open/Close
			button#open Opening
			button#close Closing
		fieldset.border
				legend.title HouseCup
				.subtitle Gryffindor
				button#addg5.addgbutton +5
				button#addg10.addgbutton +10
				button#subg5.subgbutton -5
				button#subg10.subgbutton -10
				.subtitle Hufflepuff
				button#addh5.addhbutton +5
				button#addh10.addhbutton +10
				button#subh5.subhbutton -5
				button#subh10.subhbutton -10
				.subtitle Ravenclaw
				button#addr5.addrbutton +5
				button#addr10.addrbutton +10
				button#subr5.subrbutton -5
				button#subr10.subrbutton -10
				.subtitle Slytherin
				button#adds5.addsbutton +5
				button#adds10.addsbutton +10
				button#subs5.subsbutton -5
				button#subs10.subsbutton -10

				checkbox.wincheck
				.divider
				checkbox.wincheck
					.subtitle Winner
				button#gwin.gbutton Gryffindor
				button#hwin.hbutton Hufflepuff
				button#rwin.rbutton Ravenclaw
				button#swin.sbutton Slytherin
				
		fieldset.border
			legend.title Halloween
			button#spook Trick or Treat
