doctype html
html(lang="en")
	head
		script(src='/js/jquery-3.2.1.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/soundboard.js')
		link(href='/css/soundboard.css' rel='stylesheet' type='text/css')
	body(bgcolor=transparent)
		<fieldset class="divider1">
		<legend class="title1">Overlays</legend>
			button#gift Hpc Gift
			button#muggle Muggle?
			button#powermove Power Move
			button#sac Sacrifice
			button#smoke Smoke Gank
			button#cheese Cheese Fight
			button#hpcwins HPC Wins
			button#tworax 2 Rax
		</fieldset>

		<fieldset class="divider1">
		<legend class="title1">Sponsors</legend>
			button#monster Monster
			button#kia Kia
		</fieldset>
