doctype html
html(lang="en")
	head
		script(src='/js/jquery-3.2.1.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/js/soundboard.js')
		link(href='/css/soundboard.css' rel='stylesheet' type='text/css')
	body(bgcolor=transparent)
		button#gift hpc gift!
